:root {
    --textSize: 1.5rem;
    --fontColor: white;
    --fontBlue: rgb(25, 174, 255);
    --normalTextSize: 1.2rem;
    --shadow: rgba(0, 0, 0, 0.482);
    --headerSize: 2.5rem;
    --border: 2px solid var(--fontBlue);
    --componentMargin:4rem 10rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #0f192e 50%, #261b76);
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
   scroll-behavior: smooth;
    
 

}

.textblue {
    color: var(--fontBlue);
}

header {
    width: 100%;
    box-shadow: 0 1px 9px 3px var(--shadow);
    padding: 0 0 1rem;
   
}
.subHeading{
    color: var(--fontColor);
    font-size: 1.5rem;
    margin:0 0 1rem;
}

nav {
    display: flex;
    flex-flow: column wrap;
  
    padding: 1.5rem 2rem;

    width: 100%;
    height: 3rem;
    
}

.navtext {
    width:fit-content;
    font-size: var(--textSize);
    color: var(--fontColor);
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    margin-left: 35rem;
 
    
    
   
    

}

.navbar li {
    
    margin-left: 2rem;
    
   
  
    
}

.navbar a {
   
    text-decoration: none;
    color: var(--fontColor);

    
   
}

.navbar a:hover {
   
    color: var(--fontBlue);
 
    transition: all .5s ease;
   
}

/* #YashMishra{
   background-color: white;
}
 */
.hero {
    width: 80%;
    margin: var(--componentMargin);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: var(--border);
    border-radius: 2rem;
    padding:1rem 1rem 1rem 1rem;
    
}

.title {
    font-size: var(--textSize);
    color: var(--fontColor);
    margin: 1rem 0;
}

.header {
    font-size: var(--headerSize);
    color: var(--fontColor);
    margin: 1rem 0 2rem;
    text-align: center;
    
}

.image {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    margin: 2rem 0;
}

.normaltexts {
    font-size: var(--normalTextSize);
    color: var(--fontColor);
    margin: 1rem 12rem 0 12rem;
    text-align: left;
    

    
}

#btn {
    cursor: pointer;
    font-size: 1rem;
    margin-top: .5rem;
    color: rgba(255, 253, 253, 0.747);
}

#btn:hover {
    font-size: 1.05rem;
    font-weight: bolder;
    background-color: var(--fontBlue);
}

.InvisibleContent {
    display: none;
}

.journey {
    width: 80%;
    text-align: center;
    margin: var(--componentMargin);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    border: var(--border);
    border-radius: 2rem;
    padding:1rem 1rem 1rem 1rem;
    

}

.journeyContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.journeyDiv {
    margin: var(--componentMargin);
}

.journeyList li {
    border:var(--border);
    font-size: var(--normalTextSize);
    color: var(--fontColor);
    text-align: left;
    list-style: none;
    margin: 4rem 0 0;
    width: 16rem;
    height: auto;
    padding: .2rem 1rem 1rem 1rem;
    min-width: max-content;
   
}

.journeyList li:hover {
    background-color: #03d5ff9e;
}
.circle{
    display:inline-block;
    content:none;

    width: .8rem;
    height: .8rem;
    margin: 0;
    padding:0;
    border: var(--border);
 
 
    border-radius: 50%;   
    position:relative;
    top: .1rem;
}
.circle2{
    display:inline-block;
    content:none;

    width: .4rem;
    height: .4rem;
    margin: 0;
    padding:0;
    border: var(--border);
 
 
    border-radius: 50%;   
    position: relative;
    top: -.25rem;
    left:.1rem
   
}


.jorneyListItems{
    width: fit-content;
    height: auto;
    margin:1rem 0 0;
    white-space: nowrap;
    
}

.skillsContainer {
    text-align: center;
    margin: var(--componentMargin);
    width: 80%; /* Ensure the container width is within bounds */
    border: var(--border);
    border-radius: 2rem;
    padding:1rem 1rem 1rem 1rem;
}

.skillsContainer .title {
    margin-right: 0; /* Reset margin */
}

.skills {
    
    width: 100%; /* Ensure the width is within container */
    height: fit-content;
    margin: 0 auto; /* Center the skills list */
    list-style: none;
    padding: 1.5rem;
}

.individualSkills {
    text-align: left;
    color: var(--fontColor);
    font-size: var(--normalTextSize);
    margin-bottom: 3rem;
}

.progressBarBorder {
    width: 100%; /* Ensure the width is within bounds */
    height: 2rem;
    border: 2px solid var(--fontBlue);
    margin: 1rem 0rem 0 0;

    border-radius: 50px;
}

.progressBar {
    width: 0%; /* Initial width */
    height: 70%;
    background-color: var(--fontBlue);
    border-radius: 10px;
    margin: .25rem .25rem;
    transition: width 2s ease;
}

.percentage {
    float: right;
}

.contactContainer {
    width: 80%;
    margin: var(--componentMargin);
    padding: 1.2rem;
    border: var(--border);
}

form {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    margin: 0 8rem;
}

.contact {
    font-size: var(--normalTextSize);
    color: var(--fontColor);
    margin: 0 30rem 2rem auto;
    display: flex;
    flex-direction: column;
}

.inputField {
    width: 30rem;
    height: 3rem;
    border: var(--border);
    margin-top: 0.5rem;
}

.textArea {
    height: 8rem;
    resize: none;
}

.contactLabel {
    font-size: var(--normalTextSize);
    color: var(--fontColor);
}


.contactLabel{
   font-size: var(--normalTextSize);
   color:var(--fontColor);
  
 
}
.btn{
    width:3rem;
    height: 3rem;
    background-color: rgb(255, 255, 255);
    color: var(--fontBlue);
    border:var(--border);
    border-radius: 50%;
    font-weight: bolder;
    margin:0 13rem;
}
.btn:hover{
    box-shadow:6px 6px 8px var(--shadow);
    transition: box-shadow .1s ease;
    border: var(--border);
    
}

.smallText{
    margin-left: 20rem;
    font-size: .85rem;
}
.date{
    font-size: .85rem;
    white-space: nowrap;
}

.TopButton{
   
    width: 40px;
    height:40px;
    background-color: var(--fontBlue);
    position: fixed;
    top: 40rem;
    right: 3rem;
    border-radius: 50%;
    border:var(--border);
    color: white;
    font-size: var(--headerSize);
    
}
.TopButton:hover{
    background-color: #fff;
    color: black;
    transition:all .5s ease;

}



@media (max-width:426px) {
    :root {
        --textSize: .8rem;
        --fontColor: white;
        --fontBlue: rgb(25, 174, 255);
        --normalTextSize: 1rem;
        --shadow: rgba(0, 0, 0, 0.482);
        --headerSize: 2rem;
        --border: 2px solid var(--fontBlue);
        --componentMargin: 3rem 2rem;
    } 
    body{
        width:100%;
       
    }
  
  
    header{
       
        z-index: 3;
        top: 0;
    }
    nav {
        width: 100%;
           padding: 1rem .5rem;

        height: 2rem;
        
      
        
    }

    .navbar {
        margin-left: 0rem;
       
    }
   
    .navbar li {
    
        margin-left: .5rem;
        
       
      
        
    }
    .hero {
        width: 80%;
        height:fit-content;
        margin: var(--componentMargin);
   
        padding:1rem 1rem 1rem 1rem;
        
    }

    .title {
        font-size: var(--textSize);
        color: var(--fontColor);
        margin: 1rem 0;
    }

    .subHeading{
        color: var(--fontColor);
        font-size: 1.3rem;
    }
    
    .header {
        font-size: var(--headerSize);
        color: var(--fontColor);
        margin: 1rem 0 2rem;
        text-align: center;
        
    }
    
    .image {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        margin: 0rem 0 1rem;
    }
    
    .normaltexts {
     
        margin: 1rem 1rem 0 1rem;
        text-align: left;
        
    }

    .journey {
        width: 80%;
        height: fit-content;
       
        margin: var(--componentMargin);
       
    }

    .journeyContainer {
       
        flex-flow: column nowrap;
       
    }
    
    .journeyDiv {
        margin: 1rem 2rem;
    }
    
    .journeyList li {

        margin: 3rem 0 0;
       
    }
    .jorneyListItems{
       
        margin:1rem 0 0;
       
    }

    .skillsContainer {
      
        margin: var(--componentMargin);
        width: 80%; /* Ensure the container width is within bounds */
        
    }
    
  
.contactContainer {
    width: 80%;
    margin: var(--componentMargin);
    padding: 1.2rem;
    border: var(--border);
}

form {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    margin: 0 1rem;
}

.contact {
    font-size: var(--normalTextSize);
    color: var(--fontColor);
    margin: 0 3rem 2rem auto;
    display: flex;
    flex-direction: column;
}

.inputField {
    width: 15rem;
    height: 3rem;
   
}

.textArea {
    height: 8rem;
    resize: none;
}

.contactLabel {
    font-size: var(--normalTextSize);
    color: var(--fontColor);
}


.contactLabel{
   font-size: var(--normalTextSize);
   color:var(--fontColor);
  
 
}
.btn{
    width:3rem;
    height: 3rem;
    background-color: rgb(255, 255, 255);
    color: var(--fontBlue);
    border:var(--border);
    border-radius: 50%;
    font-weight: bolder;
    margin:0 13rem;
}
.btn:hover{
    box-shadow:6px 6px 8px var(--shadow);
    transition: box-shadow .1s ease;
    border: var(--border);
    
}
    
    .smallText{
        margin-left: 0rem;
        font-size: .65rem;
        
    }
    .date{
        font-size: .65rem;
      
    }

    .TopButton{
   
        width: 20px;
        height:20px;
        background-color: var(--fontBlue);
        position: fixed;
        top: 35rem;
        right: 1.2rem;
        border-radius: 50%;
        border:var(--border);
        color: var(--fontColor);
        font-size: var(--normalTextSize);
        
     
      
    
    }
    .TopButton:hover{
        background-color: var(--fontBlue);
        transition: background-color 0s ease;
        color: var(--fontColor);
    }
    

    
    
}
